.wrapper{
    height: 88.5vh;
    background: url('../UI/backgrounds/background_homepage.png') center center no-repeat;
    background-size: cover;
}
.div_buttons{
    width: 27%;
    margin: auto;
    text-align: center;
}
.button{
    font-size: 20px;
    height: 50px;
    background-color: rgb(254, 242, 233);
    border: 3px solid rgb(252, 211, 125);
    color: grey;
    cursor: pointer;
}
button:disabled{
    background-color: rgb(252, 211, 125);
    color: #000;
}
.left_button{
    composes: button;
    border-radius: 0 0 0 7px;
}
.right_button{
    composes: button;
    border-radius: 0 0 7px 0;
}
.div_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 30px 0;
}