.wrapper{
    display: grid;
    background: url('../UI/backgrounds/background_events.png') fixed center center no-repeat;
    background-size: cover;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
    min-height: 88.5vh;
}
.right_filter{
    border-radius: 20px 0 0 20px;
    margin-left: 30px;
}