.wrapper{
    width: 100%;
    min-height: 88.5vh;
    background: url('../UI/backgrounds/background_homepage.png') no-repeat center center;
    background-size: cover;
}
.h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 5%;
    text-shadow: 2px 0 2px #000, 
    0 2px 2px #000, 
    -2px 0 2px #000, 
    0 -2px 2px #000;
}