.wrapper{
    min-height: 88.7vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    background: url('../UI/backgrounds/background_profile.png') fixed center center no-repeat;
    background-size: cover;
}
.userInfo_container{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.userInfo_card{
    border: 4px solid rgb(252, 211, 125);
    border-radius: 15px;
    height: 520px;
    width: 70%;
}
.header_container{
    border-radius: 9px 10px 0 0;
    background-color: rgb(254, 242, 233);
    border-bottom: 2px solid rgb(252, 211, 125);
    padding: 15px 10px 15px 20px;
    display: flex;
    align-items: center;
}
.header_img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(252, 211, 125);
}
.header_label{
    padding-left: 10px;
    font-size: 24px;
}
.info_container{
    background-color: rgb(254, 242, 233);
    padding: 20px 10px 50px 15px;
    height: 240px;
    font-size: 17px;
}
.section{
    padding: 20px 0;
}
.label_name{
    font-weight: 700;
    margin-right: 5px;
}
.button_container{
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(252, 211, 125);
    border-radius: 0 0 10px 10px;
    background-color: rgb(254, 242, 233);
    height: 70px;
    padding-left: 30px;
}
.logout_button{
    font-size: 17px;
    background-color: rgb(252, 211, 125);
    padding: 5px 3px;
    cursor: pointer;
    border-radius: 7px;
}
.admin_navlink{
    text-decoration: underline;
    font-weight: 700;
    color: #000;
}