.wrapper{
    min-height: 88.7vh;
    background: url('../UI/backgrounds/background_myEvents.png') center center fixed no-repeat;
}
.container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}
.nouser_container{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.button_wrapper{
    display: flex;
    justify-content: center;
}
.button{
    font-size: 20px;
    width: 300px;
    height: 35px;
    border-right: 2px solid rgb(252, 211, 125);
    border-left: 2px solid rgb(252, 211, 125);
    border-bottom: 2px solid rgb(252, 211, 125);
    border-top: none;
    border-radius: 0 0 10px 10px;
    background-color: rgb(254, 242, 233);
}
.button:active{
    background-color: rgb(252, 211, 125);
}