.chosen{
    background-color: rgb(252, 211, 125);
    margin-left: 15px;
}
.filter_section{
    cursor: pointer;
    padding: 20px 0 20px 15px;
    line-height: 15px;
    border-radius: 15px;
    width: 285px;
    font-size: 20px;
}
.filter_all{
    cursor: pointer;
    padding: 20px 0 20px 15px;
    line-height: 15px;
    border-radius: 15px;
    width: 285px;
    font-size: 24px;
    font-weight: 700;
}
.filter_wrapper{
    background: url('../../UI/backgrounds/background_filter.png') center center no-repeat;
    border-radius: 20px;
    border: 4px solid rgb(252, 211, 125);
    width: 400px;
    margin-top: 30px;
    padding-top: 5px;
}
.filter_header{
    text-align: center;
    font-size: 28px;
}
.filter_menu{
    padding: 5px 0 0 20px;
}